<div class="card m-2 mx-auto" style="width: 65%">
  <div class="card-header">
    <h3>TODO List</h3>
  </div>
  <div class="card-body">
    $(@vars(:new_form))

    <div class="custom-control custom-switch">
      <% """
      <input type="checkbox" class="custom-control-input" id="done-display-checkbox" $(@vars(:show_done) ? "checked" : "") >
        <label  class="custom-control-label"for="done-display-checkbox">show done</label>
         """ %>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm" style="width: 7%">done</th>
            <th class="th-sm" style="width: 16%">deadline</th>
            <th class="th-sm" style="">content</th>
            <th class="th-sm" style="width: 15%">action</th>
          </tr>
        </thead>
        <tbody>
          <%
            if length(@vars(:tasks)) == 0
              "タスクがありません。"
            else
              @foreach(@vars(:tasks)) do task
                """
                <tr id="tr_$(get(task.id))" data-id="$(get(task.id))" class=$(task.done ? "table-success" : "")>
                  <td>
                    <input type="checkbox" id="$(get(task.id))" data-id="$(get(task.id))"
                           class="checkbox done-checkbox" $(task.done ? "checked" : "") />
                  </td>
                  <td>
                    <span id="deadline_$(get(task.id))" class=$(task.done ? "done" : task.deadline <= @vars(:today) ? "deadline" : "doing")>
                          $(task.deadline)
                    </span>
                  </td>
                  <td>
                    <span id="content_$(get(task.id))" class=$(task.done ? "done" : task.deadline <= @vars(:today) ? "deadline" : "doing")>
                          $(task.content)
                    </span>
                  </td>
                  <td>
                    <div class="btn-group">
                      <a href="$(Genie.Router.link_to(:edit_task, task_id = get(task.id)))" class="btn btn-sm btn-info">Edit</a>
                      <button data-id="$(get(task.id))" class="btn btn-sm btn-danger delete-button">Delete</button>
                    </div>
                  </td>
                </tr>
                """
              end
            end
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .done { text-decoration: line-through; }
  .deadline { color: red; font-weight: bold; }
</style>

<script>
  \$(".done-checkbox").on("change", function() {
      return ajaxUpdateStatus(\$(this).data("id"), \$(this).prop("checked"));
  });

  \$(".delete-button").on("click", function() {
      if (confirm("Are you sure?")) {
          return ajaxDestroy(\$(this).data("id"));
      }
  });

  function ajaxUpdateStatus(id, done) {
    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_update_status_task))",
      data: { task_id: id, task_done: done },
      type: "POST",
      dataType: 'json'
    }).then(
      data => {
        if (done) {
            \$("#tr_" + id).addClass("table-success");
            \$("#content_" + id).css("text-decoration", "line-through");
            \$("#deadline_" + id).css("text-decoration", "line-through");
        } else {
            \$("#tr_" + id).removeClass("table-success");
            \$("#content_" + id).css("text-decoration", "none");
            \$("#deadline_" + id).css("text-decoration", "none");
        }
      },
      error => alert("更新に失敗しました。")
    );
  }

  function ajaxDestroy(id) {
    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_destroy_task))",
      data: { task_id: id },
      type: "POST",
      dataType: 'json'
    }).then(
      data => {
          \$("#tr_" + id).fadeOut().queue(function() {
              this.remove();
          });
      },
      error => alert("削除に失敗しました。")
    );
  }


  function switchShowDone(checked) {
    if(\$("#done-display-checkbox").prop("checked")) {
      \$("tr:has(.done-checkbox:checked)").show();
    } else {
      \$("tr:has(.done-checkbox:checked)").hide();
    }

    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_change_show_done))",
      data: { show_done: \$("#done-display-checkbox").prop("checked") },
      type: "POST",
      dataType: 'json'
    });
  }
  switchShowDone();

  \$("#done-display-checkbox").on("change", switchShowDone);

  \$(".done-checkbox").click(function(event){
    event.stopPropagation();
  });
  \$("td:has(.done-checkbox)").click(function(){
    \$(this).children('.done-checkbox').trigger('click');
  });

  \$("#todo-content").focus();
</script>
