<div class="card m-2 mx-auto" style="width: 60%">
  <div class="card-header">
    <h3>TODO List</h3>
  </div>
  <div class="card-body">
    <form action="$(Genie.Router.link_to(:create_task))" method="POST">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 10%">done</th>
            <th style="">content</th>
            <th style="width: 10%">action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                  <label>
                    <input class="form-control" type="text" name="task_content" size="80" />
                  </label>
                </td>
                <td>
                  <input type="submit" value="Add" class="btn btn-block btn-sm btn-outline-primary" />
                </td>
            </tr>
          <%
            if length(@vars(:tasks)) == 0
              "タスクがありません。"
            else
              @foreach(@vars(:tasks)) do task
                """
                <tr>
                  <td>
                    <input type="checkbox" id="$(get(task.id))"
                           class="checkbox" $(task.done ? "checked" : "") />
                  </td>
                  <td>
                    <span id="content_$(get(task.id))"
                          style="text-decoration: $(task.done ? "line-through" : "none")">

                          $(task.content)
                    </span>
                  </td>
                  <td>
                    <form action="$(Genie.Router.link_to(:destroy_task))" method="POST"
                          onSubmit="return confirm('Are you sure?');">

                        <input type="hidden" name="task_id" value="$(get(task.id))" />
                        <input type="submit" value="Delete" class="btn btn-block btn-sm btn-outline-danger" />
                    </form>
                  </td>
                </tr>
                """
              end
            end
          %>
        </tbody>
      </table>
    </form>
  </div>
</div>

<script>
  \$(".checkbox").on("change", function() {
    \$.post("$(Genie.Router.link_to(:update_task))",
            { task_id: \$(this).attr("id"), task_done: \$(this).prop("checked") });
    if (\$(this).prop("checked")) {
        \$("#content_" + \$(this).attr("id")).css("text-decoration", "line-through");
    } else {
        \$("#content_" + \$(this).attr("id")).css("text-decoration", "none");
    }
  });
</script>
