<div class="card m-2 mx-auto" style="width: 65%">
  <div class="card-header">
    <h3>TODO List</h3>
  </div>
  <div class="card-body">
    $(@vars(:new_form))

    <div class="custom-control custom-switch">
      <% """
      <input type="checkbox" class="custom-control-input" id="done-display-checkbox" $(@vars(:show_done) ? "checked" : "") >
        <label  class="custom-control-label"for="done-display-checkbox">show done</label>
         """ %>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm" style="width: 7%">done</th>
            <th class="th-sm" style="width: 16%">deadline</th>
            <th class="th-sm" style="">content</th>
            <th class="th-sm" style="width: 15%">action</th>
          </tr>
        </thead>
        <tbody>
          <% "$(@vars(:tasks_tr))" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .done { text-decoration: line-through; }
  .deadline { color: red; font-weight: bold; }
</style>

<script>
  // change done/undone.
  \$(document).on("change", ".done-checkbox", function() {
      return ajaxUpdateStatus(\$(this).data("id"), \$(this).prop("checked"));
  });

  function ajaxUpdateStatus(id, done) {
    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_update_status_task))",
      data: { task_id: id, task_done: done },
      type: "POST",
      dataType: 'json'
    }).then(
      data => {
        if (done) {
            \$("#tr_" + id).addClass("table-success");
            \$("#content_" + id).css("text-decoration", "line-through");
            \$("#deadline_" + id).css("text-decoration", "line-through");
        } else {
            \$("#tr_" + id).removeClass("table-success");
            \$("#content_" + id).css("text-decoration", "none");
            \$("#deadline_" + id).css("text-decoration", "none");
        }
      },
      error => alert("更新に失敗しました。")
    );
  }

  // ajax destroy task.
  \$(document).on("click", ".delete-button", function() {
      if (confirm("Are you sure?")) {
          return ajaxDestroy(\$(this).data("id"));
      }
  });

  function ajaxDestroy(id) {
    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_destroy_task))",
      data: { task_id: id },
      type: "POST",
      dataType: 'json'
    }).then(
      data => {
          \$("#tr_" + id).fadeOut().queue(function() {
              this.remove();
          });
      },
      error => alert("削除に失敗しました。")
    );
  }

  // ajax create task.
  \$(document).on("submit", "#task-form", function(event) {
    event.preventDefault(); // canceled normal submit.
    return ajaxCreate({ task_content: \$("#task-content").val(), task_deadline: \$("#task-deadline").val() });
  });

  function ajaxCreate(reqData) {
    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_create_task))",
      data: reqData,
      type: "POST",
      dataType: "html",
      complete: data => {
        \$("table > tbody").prepend(data.responseText);
        \$("#task-content").val("").focus();
      }
    });
  }

  // switch show/hidden done task.
  \$(document).on("change", "#done-display-checkbox", switchShowDone);

  function switchShowDone(checked) {
    if(\$("#done-display-checkbox").prop("checked")) {
      \$("tr:has(.done-checkbox:checked)").show();
    } else {
      \$("tr:has(.done-checkbox:checked)").hide();
    }

    \$.ajax({
      url: "$(Genie.Router.link_to(:ajax_change_show_done))",
      data: { show_done: \$("#done-display-checkbox").prop("checked") },
      type: "POST",
      dataType: 'json'
    });
  }

  // trigger checkbox on td clicked.
  \$(document).on("click", "td:has(.done-checkbox)", function(){
    \$(this).children('.done-checkbox').trigger('click');
  });

  // Stop propagation.
  \$(document).on("click", ".done-checkbox", function(event){
    event.stopPropagation();
  });


  // execute on document ready.
  switchShowDone();
  \$("#task-content").focus();
</script>
